body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("img/table.png");
  background-size: cover;
}

#container {
  width: fit-content;
  margin: 1rem auto;
  padding: 10rem 5rem;
}

h1 {
  color: rgb(255, 196, 0);
  font-size: 5rem;
}
p {
  font-size: 1.5rem;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding: 5px 10px;
  margin: 1em;
  font-weight: bolder;
  border: none;
  border-radius: 2px;
}

#reload {
  color: white;
  background-color: blue;
}
